


#box
{
    width: 100%;
    height: 100%;


}

#foot
{
    position: fixed;
    bottom: 5px;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);

}


#title,.now_play,.ms_title
{
    text-align: center;
    color: aquamarine;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid black;
}
li
{
    border: #2E2D3C solid 1px;
}
.ms_list p
{
    text-align: center;
    color: black;
}
.toplay
{
    float: right;
    cursor: pointer;
}